body {
    background-color: #ffff;
}

header{
    background-color: #FAFAFA;
    border-bottom: 1px solid #ccc;
    position: fixed;
    left:0;
    top: 0;
    width:100%;
    z-index: 50;


}


.navigation {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 26px 20px;
    flex-wrap: wrap;
}
.navigation a{
    color: #111;
}

.instalogo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 30%;
}

.instalogo a{
    font-size: 25px;
    padding-left: 10px;
}
.vl{
    border-left: 1.5px solid #111;
    height: 30px;
    margin-left: 20px;
}

.contact_icons{
    display: flex;
    justify-content: flex-end;
    width: 30%;
    padding-left: 100px;
}
.contact_icons a{
    padding-left: 30px;
    font-size: 25px;
    font-weight: lighter;
}

.search_bar{
    display: flex;
    width: 30%;
    justify-content: center;
    border-radius: 3px;
    color: #999;
    cursor: text;
    font-size:14px;
    text-align:center;
    position: absolute;

}
.search_bar a{
    font-size: 25px;
    padding-left: 15px;
}
.content-container{
    background-color: #FAFAFA;
    padding-top: 50px;
    position: absolute;
    width: 100%;
    top:83px;
    left:0;

}

.card{
    background-color: #fff;
    margin: 0 auto;
    width: 614px;
    height: auto;
    border: 1px solid #cccc;
    border-radius: 3px;
    margin-bottom: 60px;
}
.card_header{
    padding: 15px;
}
.card_header a{
    text-decoration: none;
    color: black;
}
.profile_image{
    display: inline-block;
    background-color: royalblue;
    height: 30px;
    width: 30px;
    padding:0;
    margin:0;
    border: 0 solid #000;
    border-radius: 50%;
}

.post_info{
    display: inline-block;
    padding-left: 15px;
}

.post_name{
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    color: #111;
    font-weight: 600;
    padding: 0;
    margin:0;
}

.post_location{
    font-size: 12px;
    color: lightslategray;
    padding:0;
    margin: 0;
}

.post_options{
    font-size: 15px;
    float: right;
    display: inline-block;
    margin: 4px;
    padding: 5px;
    color: #cccc;
}

.menu{
    display: flex;
    flex-direction: column;
    text-decoration: none;
  /*   padding: 10px; */
    width:300px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 10px;
    background-color: transparent;
    margin: 0 auto;
    margin-top: 20px;
  }
  .menu li{
    background-color: transparent;
    cursor: pointer;
    padding: 8px 8px;
    border-top: 1px solid #efefef;
    line-height: 1.5;
  }
  .menu li a{
    text-decoration: none;
  }

.post_image img{
    width: 100%;
    height: 614px;

}

.engagement{
    display: inline-block;
    width: 100%;
    margin: 4px 0px 0px;
    padding: 0px 16px;
}

.engagement a{
    padding: 7px;
    font-size: 25px;
    color: slategray;
    font-weight: 600;
}
.fa-bookmarks{
    float: right;
    margin-right: 25px;
}
.likes a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #111;
    margin: 0px 0px 8px;
    padding: 0px 21px;
}

.caption{
    display: inline-block;
    width: 100%;
    padding: 0px 16px;
    margin-right: 16px;

}
.caption a{
    font-size: 10px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding-left: 5px;
    margin-left: -5px;
    padding-right: 5px;
}
.caption span{
    font-size: 15px;
    font-weight: 500;
    color: #111;
    display: inline-block;
    margin-right: 16px;

}
.caption h2 p{
    padding: 0;
    margin: 0;
}
.time_posted{

    font-size: 10px;
    font-weight: 300;
    color: #111;
    letter-spacing: .2px;
    padding: 0px 16px;
    text-transform: uppercase;
}

.detail_card{
    background-color: #fff;
    margin: 0 auto;
    width: 949px;
    height: auto;
    border: 1px solid #cccc;
    border-radius: 3px;
}
.detail_image{
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    /* position: absolute; */
    display: inline-block;
    /* float: left; */
}
.detail_image img{
    width: 614px;
    height: auto;
}
.post_detail_info{
    display: inline-block;
    float: right;
    width: 335px;
    height: 100%;

}
.detail_bottom{
    position: absolute;
    /* width: 100%; */
    bottom: 0;
}

.text_comment_area{
    background: 0 0;
    border: 0;
    color: #262626;
    height: 18px;
    padding: 0;
    outline: 0;
    width: 260.8px;
}
.new_comment_section{
    height: 54px;
    widows: 335px;
    justify-content: center;
    font-size: 14px;
    border-top: 1px solid #efefef;
    margin-top: 4px;
    padding: 0 16px;
}
