body {
    background-color: #ffff;
}

header{
    background-color: #FAFAFA;
    border-bottom: 1px solid #ccc;
    position: fixed;
    left:0;
    top: 0;
    width:100%;
    z-index: 50;
    
    
}


.navigation {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 26px 20px;
    flex-wrap: wrap;
}
.navigation a{
    color: #111;
}

.instalogo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 30%;
}

.instalogo a{
    font-size: 25px;
    padding-left: 10px;
}
.vl{
    border-left: 1.5px solid #111;
    height: 30px;
    margin-left: 20px;
}

.contact_icons{
    display: flex;
    justify-content: flex-end;
    width: 30%;
}
.contact_icons a{
    padding-left: 30px;
    font-size: 25px;
    font-weight: lighter;
}

.search_bar{
    display: flex;
    width: 30%;
    justify-content: center;
    border-radius: 3px;
    color: #999;
    cursor: text;
    font-size:14px;
    text-align:center;
    position: absolute;
    
}
.search_bar a{
    font-size: 25px;
    padding-left: 15px;
}
.content-container{
    background-color: #FAFAFA;
    padding-top: 50px;
    position: absolute;
    width: 100%;
    top:83px;
    left:0;
   
}

.card{
    background-color: #fff; 
    margin: 0 auto;
    width: 614px;
    height: auto;
    border: 1px solid #cccc;
    border-radius: 3px;
    margin-bottom: 60px;
}
.card_header{
    padding: 15px;
}
.profile_image{
    display: inline-block;
    background-color: royalblue;
    height: 30px;
    width: 30px;
    padding:0;
    margin:0;
    border: 0 solid #000;
    border-radius: 50%;
}

.post_info{
    display: inline-block;
    padding-left: 15px;
}

.post_name{
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    color: #111;
    font-weight: 600;
    padding: 0;
    margin:0;
}

.post_location{
    font-size: 12px;
    color: lightslategray;
    padding:0;
    margin: 0;
}

.post_options{
    font-size: 15px;
    float: right;
    display: inline-block;
    margin: 4px;
    padding: 5px;
    color: #cccc;
}
.post_image img{
    width: 100%;
    height: 614px;
    
}

.engagement{
    display: inline-block;
    width: 100%;
    margin: 4px 0px 0px;
    padding: 0px 16px;
}

.engagement a{
    padding: 7px;
    font-size: 25px;
    color: slategray;
    font-weight: 600;
}
.fa-bookmark{
    float: right;
    margin-right: 25px;
}
.likes a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #111;
    margin: 0px 0px 8px;
    padding: 0px 21px;
}

.caption{
    display: inline-block;
    width: 100%;
    padding: 0px 16px;
}
.caption a{
    font-size: 10px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding-left: 5px;
    margin-left: -5px;
    padding-right: 5px;
}
.caption span{
    font-size: 15px;
    font-weight: 500;
    color: #111;
    display: inline-block;
}
.caption h2 p{
    padding: 0;
    margin: 0;
}
.time_posted{

    font-size: 10px;
    font-weight: 300;
    color: #111;
    padding: 0px 21px;
}