{% extends 'insta/base.html' %}
{% block title %} Create Post {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="panel panel-default" style="width: 500px; margin: 0 auto;">
    <div class="panel-body">
        {% crispy form %}
        {% csrf_token %}
    </div>
    <!-- <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form> -->
</div>
{% endblock %}
