<!-- <div class="modal" id="menu_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <ul class='list-unstyled menu'>
                <li><a class="text-reset" href="{% url 'insta:post_update' post.id %}">Edit</a></li>
                <li><a class="text-reset" href="{% url 'insta:post_delete' post.id %}">Delete</a></li>
                <li><a class="text-reset" href="{% url 'insta:post_detail' post.id %}">Details</a></li>
                <li><a class="text-reset close" data-dismiss="modal" href="">Cancel</a></li>
              </ul>
        </div>
    </div>
</div> -->